{% load static %}
{% block container %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title4</title>

</head>
<body>
<h1>Contact Update</h1>

<form  method="post">
{% csrf_token %}
{{ form.as_p }}


<input  type="submit"  value="Submit"  />
</form>

</body>
</html>
{% endblock %}
