{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>


<body>
<h1>Contact Details</h1>

<p>Name: {{object.Name}}</p>
<p>Pan Number: {{object.Pan_number}}</p>
<p>Age: {{object.Age}}</p>
<p>Gender: {{object.Gender}}</p>
<p>Email: {{object.email}}</p>
<p>City: {{object.City}}</p>

</head>
</body>
</html>