{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h1>Contacts</h1>

<table>
<thead>
<tr>
<th>Name</th>
<th>Pan number</th>
<th>Age</th>
<th>Gender</th>
    <th>email</th>
    <th>City</th>
<th>Actions</th>
</tr>
</thead>
    <a  href="{% url 'contact_create' %}">Create</a>
<tbody>
{% for contact in object_list %}
<tr>
<td>{{ contact.Name }}</td>
<td>{{ contact.Pan_number }}</td>
<td>{{ contact.Age }}</td>
<td>{{ contact.Gender }}</td>
<td>{{ contact.email }}</td>
<td>{{ contact.City }}</td>


<td>
<a  href="{% url 'contact_detail' contact.id %}">details</a>
<a  href="{% url 'contact_update'  contact.id  %}">edit</a>
<a  href="{% url 'contact_delete'  contact.id  %}">delete</a>


</td>
</tr>

{% endfor %}
</tbody>
</table>
</body>
</html>
